$BG: #343f44;
$FG: #d3c6aa;

$dim: #232a2e;
$altbg1: #2d353b;
$altbg2: #3d484d;
$altbg3: #475258;
$altbg4: #4f585e;
$altbg5: #56635f;

$red: #e67e80;
$orange: #e69875;
$yellow: #dbbc7f;
$green: #a7c080;
$blue: #7fbbb3;
$aqua: #83c092;
$purple: #d699b6;

$bgred: #543a48;
$bgorange: #514045;
$bgyellow: #4d4c43;
$bggreen: #425047;
$bgblue: #3a515d;

